body {
  position: relative;
  background-color: var(--white-color);
  color: var(--primary-text-color);

  font-family: Montserrat, sans-serif;
}

a {
  text-decoration: none;
}

button,
a {
  margin: 0;
  padding: 0;
  outline: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
