<!-- about--section --> 
<section>
    <div class="container about-container">
      <h1 class="about__title">Преподователь</h1>
      <img class="about__foto" src="./images/about@1x.jpg" srcset="./images/about@2x.jpg 2x" alt="Преподователь">
      <h2 class="about__name">Елена Морева</h2>
      <ul class="about-list">
        <li class="about-list__item"><div class="about__icon--box"><svg class="about__icon" ><use href="./images/symbol-defs-optimiz.svg#icon-check-mark"></use></svg></div>Опыт подготовки учеников к ВНО - 6лет</li>
        <li class="about-list__item"><div class="about__icon--box"><svg class="about__icon" ><use href="./images/symbol-defs-optimiz.svg#icon-check-mark"></use></svg></div>Собственный результат сдачи ВНО - 197 баллов 2 года подряд</li>
        <li class="about-list__item"><div class="about__icon--box"><svg class="about__icon" ><use href="./images/symbol-defs-optimiz.svg#icon-check-mark"></use></svg></div>Сдала на отлично международный аналог ВНО - Кембриджский PET (Preliminary English Test)</li>
      </ul>
  
      <p class="about__text">Высшее образование  получила в Институте международных отношений НАУ по специальности переводчик-аналитик. </p>
      <p class="about__text">В свободное время  проходит курсы от лучших университетов мира по эффективному преподаванию и методикам написания сочинений. </p>
        <p class="about__text--last">В числе пройденных: English Grammar and Essay Writing (Berkeley), English Grammar&Style (The University of Queesland), How to Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching and Learning (University of Houston).</p>
        <a class="about__link" href="#">Cambrige English Entry Level Certificate</a>
      </div>
      </section>
  