<section class="advantages-section" id="advantages-section">
    <div class="container">
        <h2 class="visually-hidden">Преимущества обучения в школе BHO</h2>
        <ul class="advantages-list">
        
            <li class="advantages-list__item">
                <svg class="advantages-list__icon" width="58.82px" height="60px">
                    <use href="./images/symbol-defs-optimiz.svg#icon-female-bordered"></use>
                </svg>
                <p class="advantages-list__title">Адаптированная авторская программа ВНО</p>
            </li>
        
            <li class="advantages-list__item">
                <svg class="advantages-list__icon" width="58.82px" height="60px">
                    <use href="./images/symbol-defs-optimiz.svg#icon-mobile-bordered"></use>
                </svg>
                <p class="advantages-list__title">Современные методики обучения</p>
            </li>
        
            <li class="advantages-list__item">
                <svg class="advantages-list__icon" width="58.82px" height="60px">
                    <use href="./images/symbol-defs-optimiz.svg#icon-umbrella-bordered"></use>
                </svg>
                <p class="advantages-list__title">Финансовая гарантия результата</p>
            </li>
        </li>
    </div>
</section>