<section class="benefits-section">
    <div class="container">
<h2 class="gereral-section-title benefits-section__title">
    Почему нас выбирают
</h2>
<div class="benefits-section__main-wraper ">

<ol class="benefits-section__counter-list list">
    <li class="benefits-section__counter-item">
<p class="benefits-section__text">Обучение в малых командах</p>
    </li>
<li class="benefits-section__counter-item">
<p class="benefits-section__text">Визуализированные конспекты</p>
</li>
<li class="benefits-section__counter-item">
<p class="benefits-section__text">Каждое занятие имеет цель и конкретный результат</p>
</li>
<li class="benefits-section__counter-item">
<p class="benefits-section__text">Ревльные результаты преподавателя</p>
</li>
<li class="benefits-section__counter-item">
<p class="benefits-section__text">Прогамма курса соответствует требованиям МОН Украины</p>
</li>
<li class="benefits-section__counter-item">
<p class="benefits-section__text">Набор команд по уровням знаний</p>
</li>
</ol>

</div>
</div>
</section>