<section class="benefits-section container">
<h2 class="gereral-section-title">
    Почему нас выбирают
</h2>
<div class="benefits-section__main-wraper ">

<ol class="benefits-section__counter-list list">
    <li class="benefits-section__counter-item">
<p>Обучение в малых командах</p>
    </li>
<li class="benefits-section__counter-item">
<p>Визуализированные конспекты</p>
</li>
<li class="benefits-section__counter-item">
<p>Каждое занятие имеет цель и конкретный результат</p>
</li>
<li class="benefits-section__counter-item">
<p>Ревльные результаты преподавателя</p>
</li>
<li class="benefits-section__counter-item">
<p>Прогамма курса соответствует требованиям МОН Украины</p>
</li>
<li class="benefits-section__counter-item">
<p>Набор команд по уровням знаний</p>
</li>
</ol>


</div>
</section>