<section class="how-section container" id="how-section">
    <h2 class="how-section__title">Как мы это делаем</h2>

    <ul class="how-section-list">
        <li class="how-section-list__item">
            <div class="how-section__icon-container">
                <svg class="how-section__icon" width="45.39px" height="48px">
                    <use href="./images/symbol-defs-optimiz.svg#icon-study-program"></use>
                </svg>
            </div>
            <h3 class="how-section-list__title">Адаптированная программа подготовки к ВНО</h3>
            <p class="how-section-list__text">Ты будешь изучать грамматику и лексику одновременно. И ты научишься писать сочинения.</p>
        </li>

        <li class="how-section-list__item">
            <div class="how-section__icon-container">
                <svg class="how-section__icon" width="47px" height="48px">
                    <use href="./images/symbol-defs-optimiz.svg#icon-mobile"></use>
                </svg>
            </div>
            <h3 class="how-section-list__title">Аудитория и<br> онлайн-обучение</h3>
            <p class="how-section-list__text">Учитель поможет не только в аудитории, но и во время домашней подготовки.
            Родители могут участвовать в чате при желании.</p>
        </li>

        <li class="how-section-list__item">
            <div class="how-section__icon-container">
                <svg class="how-section__icon" width="68.43px" height="48px">
                    <use href="./images/symbol-defs-optimiz.svg#icon-book"></use>
                </svg>
            </div>
            <h3 class="how-section-list__title">Привычка читать на английском языке</h3>
            <p class="how-section-list__text">Статьи из источников, которые используются при разработке настоящего ВНО, будут приходить на телефон дважды в неделю.
</p>
        </li>

        <li class="how-section-list__item">
            <div class="how-section__icon-container">
                <svg class="how-section__icon" width="48.35px" height="48px">
                    <use href="./images/symbol-defs-optimiz.svg#icon-group"></use>
                </svg>
            </div>
            <h3 class="how-section-list__title">Психологическая<br> поддержка</h3>
            <p class="how-section-list__text">Мы научим тебя методикам прохождения тестирований, умению планировать свою подготовку уверенности
            в себе.</p>
        </li>

        <li class="how-section-list__item">
            <div class="how-section__icon-container">
                <svg class="how-section__icon" width="39.83px" height="48px">
                    <use href="./images/symbol-defs-optimiz.svg#icon-female"></use>
                </svg>
            </div>
            <h3 class="how-section-list__title">Обучение по авторским пособиям</h3>
            <p class="how-section-list__text">Тебе не нужно тратить время
            на самостоятельный поиск материала и ничего покупать дополнительно. Мы составили
            2 пособия для тебя.</p>
        </li>

        <li class="how-section-list__item">
            <div class="how-section__icon-container">
                <svg class="how-section__icon" width="54.86px" height="48px">
                    <use href="./images/symbol-defs-optimiz.svg#icon-audio-book"></use>
                </svg>
            </div>
            <h3 class="how-section-list__title">Умение воспринимать устную английскуб речь</h3>
            <p class="how-section-list__text">“F.R.I.E.N.D.S” тебе не помогут. Ты будешь регулярно слушать
            и разбирать аудиозаписи
            в соответствии с изучаемой лексикой.</p>
        </li>
    </ul>
</section>