<section class="how-section container">
    <h2 class="how-section__title">Как мы это делаем</h2>

    <ul class="how-section-list">
        <li class="how-section-list__item">
            <h3 class="how-section-list__title">Адаптированная программа подготовки к ВНО</h3>
            <p class="how-section-list__text">Ты будешь изучать грамматику и лексику одновременно. И ты научишься писать сочинения.</p>
        </li>

        <li class="how-section-list__item">
            <h3 class="how-section-list__title">Адаптированная программа подготовки к ВНО</h3>
            <p class="how-section-list__text">Ты будешь изучать грамматику и лексику одновременно. И ты научишься писать
                сочинения.</p>
        </li>

        <li class="how-section-list__item">
            <h3 class="how-section-list__title">Адаптированная программа подготовки к ВНО</h3>
            <p class="how-section-list__text">Ты будешь изучать грамматику и лексику одновременно. И ты научишься писать
                сочинения.</p>
        </li>

        <li class="how-section-list__item">
            <h3 class="how-section-list__title">Адаптированная программа подготовки к ВНО</h3>
            <p class="how-section-list__text">Ты будешь изучать грамматику и лексику одновременно. И ты научишься писать
                сочинения.</p>
        </li>

        <li class="how-section-list__item">
            <h3 class="how-section-list__title">Адаптированная программа подготовки к ВНО</h3>
            <p class="how-section-list__text">Ты будешь изучать грамматику и лексику одновременно. И ты научишься писать
                сочинения.</p>
        </li>

        <li class="how-section-list__item">
            <h3 class="how-section-list__title">Адаптированная программа подготовки к ВНО</h3>
            <p class="how-section-list__text">Ты будешь изучать грамматику и лексику одновременно. И ты научишься писать
                сочинения.</p>
        </li>
    </ul>
</section>