<section class="problems-section" id="problems-section">
    <div class="container">
        <h2 class="problems-section__title--mobile">
            Главные проблемы <br>
            учеников <br>
            на English ВНО, <br>
            которые <br>
            мы <span class="problems-section__title--color">помогаем</span> решить
        </h2>
        
        <h2 class="problems-section__title">
            Главные проблемы учеников<br> на English ВНО, которые<br> мы <span
                class="problems-section__title--color">помогаем</span> решить
        </h2>
        
        <div class="problems-section__list-container ">
            <ul class="problems-section__list">
        
                <li class="problems-section__item">
                    <p class="problems-section__text">Название грамматики</p>
                </li>
        
                <li class="problems-section__item">
                    <p class="problems-section__text">Неумение воcпринимать устную английскую речь</p>
                </li>
        
                <li class="problems-section__item">
                    <p class="problems-section__text">Скупой словарный запас для написания сочинений</p>
                </li>
        
                <li class="problems-section__item">
                    <p class="problems-section__text">Подготовка в одиночку</p>
                </li>
        
                <li class="problems-section__item">
                    <p class="problems-section__text">Отсутствие единого ресурса знаний</p>
                </li>
        
                <li class="problems-section__item">
                    <p class="problems-section__text">Недостаток самоорганизации и лень</p>
                </li>
        
            </ul>
        </div>
        
        <div class="problem-section__icon">
            <svg class="problem-section__icon-fire" width="455px" height="472px">
                <use href="./images/symbol-defs-optimiz.svg#icon-campfire"></use>
            </svg>
        </div>
    </div>
</section>