<section class="problems-section container">
    <h2 class="problems-section__title--mobile">
        Главные проблемы <br>
        учеников <br>
        на English ВНО, <br>
        которые <br>
        мы <span class="problems-section__title--color">помогаем</span> решить
    </h2>

    <h2 class="problems-section__title">
        Главные проблемы учеников<br> на English ВНО, которые<br> мы <span class="problems-section__title--color">помогаем</span> решить
    </h2>

    <div class="problems-section__main-wraper ">
        <ul class="problems-section__counter-list list">

            <li class="problems-section__counter-item">
                <p class="problems-section__text">Название грамматики</p>
            </li>

            <li class="problems-section__counter-item">
                <p class="problems-section__text">Неумение воcпринимать устную английскую речь</p>
            </li>

            <li class="problems-section__counter-item">
                <p class="problems-section__text">Скупой словарный запас для написания сочинений</p>
            </li>

            <li class="problems-section__counter-item">
                <p class="problems-section__text">Подготовка в одиночку</p>
            </li>

            <li class="problems-section__counter-item">
                <p class="problems-section__text">Отсутствие единого ресурса знаний</p>
            </li>

            <li class="problems-section__counter-item">
                <p class="problems-section__text">Недостаток самоорганизации и лень</p>
            </li>

        </ul>
    </div>
</section>