<section class="programm__section container">
    <h2 class="programm__title">Наша программа</h2>
    <div class="programm__content">
        <div class="programm__border"></div>
        <ul class="programm__list-semester list">
            <li class="programm__item-semester"><svg class="dot">
                <circle r="6" cx="12" cy="12" fill="var(--second-color)"/>
            </svg>1 семестр
                <ul class="programm__list-lesson list">
                    <li class="programm__item-lesson">Grammar
                        <ul class="programm__list-theme list">
                            <li class="programm__item-theme">Nouns & Articles</li>
                            <li class="programm__item-theme">Adjectives & Adverb</li>
                        </ul>
                    </li>
                    <li class="programm__item-lesson">Vocabulary
                        <ul class="programm__list-theme list">
                            <li class="programm__item-theme">Family & Relations</li>
                            <li class="programm__item-theme">People & Society</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="programm__item-semester"><svg class="dot">
                <circle r="6" cx="12" cy="12" fill="var(--second-color)"/>
            </svg>2 семестр
                <ul class="programm__list-lesson list">
                    <li class="programm__item-lesson">Grammar
                        <ul class="programm__list-theme list">
                            <li class="programm__item-theme">Pronouns</li>
                            <li class="programm__item-theme">Active Voice</li>
                            <li class="programm__item-theme">Passive Voice</li>
                        </ul>
                    </li>
                    <li class="programm__item-lesson">Vocabulary
                        <ul class="programm__list-theme list">
                            <li class="programm__item-theme">Home</li>
                            <li class="programm__item-theme">School</li>
                            <li class="programm__item-theme">Work</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="programm__item-semester"><svg class="dot">
                <circle r="6" cx="12" cy="12" fill="var(--second-color)"/>
            </svg>3 семестр
                <ul class="programm__list-lesson list">
                    <li class="programm__item-lesson">Grammar
                        <ul class="programm__list-theme list">
                            <li class="programm__item-theme">Modal Verbs</li>
                            <li class="programm__item-theme">Infinitive</li>
                            <li class="programm__item-theme">Gerund</li>
                            <li class="programm__item-theme">Participle: 1, 2</li>
                        </ul>
                    </li>
                    <li class="programm__item-lesson">Vocabulary
                        <ul class="programm__list-theme list">
                            <li class="programm__item-theme">Travel & Tourism</li>
                            <li class="programm__item-theme">Culture & free time</li>
                            <li class="programm__item-theme">Sport</li>
                        </ul>
                    </li>
                    <li class="programm__item-lesson">Writing
                        <ul class="programm__list-theme list">
                            <li class="programm__item-theme">Informal letter</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="programm__item-semester"><svg class="dot">
                <circle r="6" cx="12" cy="12" fill="var(--second-color)"/>
            </svg>4 семестр
                <ul class="programm__list-lesson list">
                    <li class="programm__item-lesson">Grammar
                        <ul class="programm__list-theme list">
                            <li class="programm__item-theme">Clauses: Conditional and Wishes</li>
                            <li class="programm__item-theme">Direct / Reported</li>
                            <li class="programm__item-theme">speech</li>
                            <li class="programm__item-theme">Preposition</li>
                            <li class="programm__item-theme">Conjunction</li>
                            <li class="programm__item-theme">Numeral</li>
                        </ul>
                    </li>
                    <li class="programm__item-lesson">Vocabulary
                        <ul class="programm__list-theme list">
                            <li class="programm__item-theme">Healthy Living</li>
                            <li class="programm__item-theme">Nature & Environment</li>
                            <li class="programm__item-theme">Money</li>
                        </ul>
                    </li>
                    <li class="programm__item-lesson">Writing
                        <ul class="programm__list-theme list">
                            <li class="programm__item-theme">Formal letter</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="programm__item-semester"><svg class="dot">
                <circle r="6" cx="12" cy="12" fill="var(--second-color)"/>
            </svg>5 семестр
                <ul class="programm__list-lesson list">
                    <li class="programm__item-lesson">
                        <ul class="programm__list-theme list">
                            <li class="programm__item-theme">Revision</li>
                            <li class="programm__item-theme">Tests</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>   
    </div>
</section>