<!-- Footer -->
<section class="footer">
<div class="footer__container container">
<div class="logo_conteiner footer__logo">
    <a href="" class="logo">Hell<svg class="logo_icon" aria-label="иконка логотипа">
            <use href="./images/symbol-defs-optimiz.svg#icon-campfire-small"></use>
        </svg>EN</a>
    <p class="logo_text"><span class="logo_text--orange">Адский</span> английский</p>
</div>
<div class="footer__contact">
<a class="footer__phone" href="tel:+38(000)0000000">
    <svg class="footer__phone-icon">
        <use href="./images/symbol-defs-optimiz.svg#icon-phone"></use>
    </svg>
    +38 (000) 000 00 00</a>

<a class="footer__icon" href="#"></a>
</div>
</div>
<div class="copyright">
<div  class="container">
    <p class="copyright__text"> &#x40 Все права защищены, 2019</p>
</div>
</div>
</section>