<header class="header">
  <div class="container header__container">
    <nav class="header__nav">
      <div class="header__logo">
        <a href="" class="logo">
          Hell<svg class="logo_icon" aria-label="иконка логотипа">
            <use href="./images/symbol-defs-optimiz.svg#icon-campfire-small"></use></svg
          >EN</a
        >
        <p class="logo_text"><span class="logo_text--orange">Адский</span> английский</p>
      </div>

      <ul class="header__list">
        <li class="header__list-item">
          <a href="#how-section" class="header_link">Программы обучения</a>
        </li>
        <li class="header__list-item">
          <a href="#about" class="header_link">О нас</a>
        </li>
        <li class="header__list-item"><a href="#rewiews" class="header_link">Отзывы</a></li>
        <li class="header__list-item"><a href="#contacts-form" class="header_link">Контакты</a></li>
      </ul>

      <button class="consultation_button" data-modal-open>Консультация по телефону</button>

      <button
        class="menu_toggle js-open-menu"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg width="20.5" height="12" paria-label="Переключатель мобильного меню">
          <use class="menu_icon" href="./images/symbol-defs-optimiz.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
<!-- Мобильное меню -->
<div class="menu_container js-menu-container" id="mobile-menu">
  <div class="menu__logo">
    <a href="" class="logo none"
      >Hell<svg class="logo_icon" aria-label="иконка логотипа">
        <use href="./images/symbol-defs-optimiz.svg#icon-campfire-small"></use></svg
      >EN</a
    >
    <p class="logo_text"><span class="logo_text--orange">Адский</span> английский</p>
  </div>

  <button class="menu_toggle js-close-menu">
    <svg width="14.5px" height="14.5px" aria-label="Переключатель мобильного меню">
      <use href="./images/symbol-defs-optimiz.svg#icon-close"></use>
    </svg>
  </button>

  <div class="mobile_menu__list">
    <ul class="mobile_menu__chapters">
      <li class="mobile_menu-item">
        <a href="#how-section" class="menu_link">Программы обучения</a>
      </li>
      <li class="mobile_menu-item"><a href="#about" class="menu_link">О нас</a></li>
      <li class="mobile_menu-item"><a href="#rewiews" class="menu_link">Отзывы</a></li>
      <li class="mobile_menu-item"><a href="#contacts-form" class="menu_link">Контакты</a></li>
    </ul>
  </div>
  <div class="mobile_button-conteiner">
    <button class="mobile_button-mod" data-modal-open-menu>Консультация по телефону</button>
  </div>
</div>

<!-- модальное окно -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="close-btn" aria-label="Закрыть" data-modal-close>
      <svg class="close-btn__icon">
        <use href="./images/symbol-defs-optimiz.svg#icon-close2"></use>
      </svg>
    </button>
    <form class="form-modal">
      <b class="form-modal__caption">Оставьте свои данные, мы вам перезвоним</b>
      <div class="form-modal__field">
        <label class="form-modal__label" for="user-name">Имя</label>
        <div class="form-modal__input-wrap">
          <input class="form-modal__input" type="text" name="name" id="user-name" />
        </div>
      </div>
      <div class="form-modal__field">
        <label class="form-modal__label" for="user-tel">Телефон</label>
        <div class="form-modal__input-wrap">
          <input class="form-modal__input" type="tel" name="tel" id="user-tel" />
        </div>
      </div>
      <div class="form-modal__field">
        <label class="form-modal__label" for="user-email">Почта</label>
        <div class="form-modal__input-wrap">
          <input class="form-modal__input" type="email" name="email" id="user-email" />
        </div>
      </div>
      <div class="form-modal__field">
        <label class="form-modal__label" for="user-comment">Комментарий</label>
        <textarea
          class="form-modal__textarea"
          name="comment"
          id="user-comment"
          rows="6"
          placeholder="Введите текст"
        ></textarea>
      </div>
      <button type="submit" class="form-modal__btn send__form-btn">Отправить</button>
    </form>
  </div>
</div>
