.hero-container {
  padding-top: 50px;
  padding-bottom: 47px;

  @media screen and (min-width: 768px) {
    padding-top: 84px;
    padding-bottom: 65px;
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 1394px) {
    padding-top: 46px;
    padding-bottom: 10px;
  }

  background-image: url(../images/hero-1.png);
  background-size: 768px;
  background-repeat: no-repeat;
  background-position: bottom 0 left -94px;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/hero-1@2x.png);
  }

  @media screen and (min-width: 768px) {
    background-size: 768px;
    background-position: bottom 0 left 0;
  }

  @media screen and (min-width: 1394px) {
    background-size: 1688px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 20px;
  line-height: 1.35;
  letter-spacing: 0.03em;

  color: var(--black-color);

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.308;
  }

  @media screen and (min-width: 1394px) {
    font-size: 58px;
    line-height: 1.293;
    margin-bottom: 24px;
  }
}

.hero__text {
  display: flex;
  flex-direction: column;
  margin: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.571;
  letter-spacing: 0.08em;

  color: var(--primary-text-color);

  &--black {
    font-weight: bold;
    color: var(--black-color);
  }
  &--orange {
    color: var(--second-color);
  }

  @media screen and (min-width: 1394px) {
    font-size: 20px;
    line-height: 1.65;
    display: inline-block;
  }
}

.hero__btn {
  display: block;
  padding: 16px 7px;

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  max-width: 260px;

  color: #ffffff;
  background-color: var(--second-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-left: 0;
    padding: 16px 9px;
  }

  @media screen and (min-width: 1394px) {
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.14em;
    padding: 27px 25px;
    max-width: 354px;
  }
}

.hero__img {
  max-width: 208px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    max-width: 375px;
  }

  @media screen and (min-width: 1394px) {
    max-width: 675px;
  }

  @media screen and (min-width: 1698px) {
    max-width: 842px;
  }

  animation-name: Appearance;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

@-webkit-keyframes Appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px), (max-width: 1394px) {
    margin-top: -15px;
  }
  @media screen and (min-width: 1394px) {
    min-width: 642px;
  }
}
