
.how-section-list,
.how-section__title,
.how-section-list__text,
.how-section-list__title {
    padding: 0;
    margin: 0;
}


.how-section {
    padding-top: 50px;
    padding-bottom: 50px;

    @media screen and (min-width: 1394px) {
        padding-top: 130px;
        padding-bottom: 130px;
    }
}


.how-section__title {
    margin-bottom: 30px;

    font-weight: 800;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-color);

    @media screen and (min-width: 768px) {
        font-size: 26px;
    }

    @media screen and (min-width: 1394px) {
        font-size: 46px;
        margin-bottom: 50px;
        text-align: left;
    }
}


.how-section-list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;

        margin-top: calc(-1*20px);
        margin-right: calc(-1*20px);
    }
}

.how-section-list__item {
    padding-top: 30px;
    margin-top: 15px;
    height: 280px;
    box-shadow: var(--card-shadow);

    @media screen and (min-width: 768px) {
        padding-top: 40px;
        padding-right: 20px;
        padding-left: 20px;
        height: 334px;

        flex-basis: calc(100%/2 - 20px);
        margin-top: 20px;
        margin-right: 20px;
    }

    @media screen and (min-width: 1394px) {
        padding-right: 30px;
        padding-left: 30px;
        height: 396px;

        flex-basis: calc(100%/3 - 20px);
        margin-top: 20px;
        margin-right: 20px;
    }

    &:hover,
    &:active {
        background-color: var(--second-color);
        // этот эффект нужно будет стандартизировать
        transition: background-color 450ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover .how-section-list__title,
    &:hover .how-section-list__text,
    &:active .how-section-list__title,
    &:active .how-section-list__text,
    &:active .how-section__icon,
    &:hover .how-section__icon,
    &:hover .how-section-list__text::before,
    &:active .how-section-list__text::before{
        color: var(--white-color);
        // этот эффект нужно будет стандартизировать
        // transition: color 450ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: currentColor;
    }

}

.how-section-list__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    letter-spacing: 0.08em;
    color: var(--black-color);

    margin-top: 20px;

    @media screen and (min-width: 768px) {
        margin-top: 30px;
    }

    @media screen and (min-width: 1394px) {
        font-size: 20px;
        line-height: 143%;
    }
}

.how-section-list__text {
    position: relative;

    margin-top: 42px;

    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    text-align: center;
    letter-spacing: 0.08em;
    color: var(--primary-text-color);

    &::before {
        content: '—';
        position: absolute;
        left: 50%;
        top: -30px;
        font-weight: bold;
        font-size: 20px;
        transform: translate(-50%, 0%);
        color: var(--second-color);
    }

    @media screen and (min-width: 768px){
        margin-top: 52px;

        &::before {
        top: -35px;
    }
    }

    @media screen and (min-width: 1394px) {
        margin-top: 32px;
        font-size: 18px;
        line-height: 156%;

        &::before {
        top: -30px;
        }
    }

}

.how-section__icon-container {
    display: flex;
    justify-content: center;
}

.how-section__icon {
    fill: var(--second-color);
}