.header {
  margin-top: 30.5px;
  margin-bottom: 50.5px;

  @media screen and (min-width: 1394px) {
    margin-top: 33.5px;
    margin-bottom: 46px;
  }
}
.header__logo {
  @media screen and (max-width: 1394px) {
    margin-right: 180px;
  }
}
.header__container {
  height: inherit;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}

.header__list {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 1393px) {
    display: none;
  }
}

.header__list-item:not(:last-child) {
  margin-right: 40px;
}
.header_link--current {
  color: var(--second-color);
}
.consultation-button {
  border: 2px solid var(--second-color);
  padding: 16px 5px 17px;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.214;
  text-align: center;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  background-color: var(--white-color);
  color: var(--second-color);

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1394px) {
    padding: 27px 26px 24px 23px;
  }
}

.menu-toggle {
  position: relative;
  display: inline-block;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  z-index: 1001;

  @media screen and (min-width: 1394px) {
    display: none;
  }
}

.menu_icon {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 20.5px;
  height: 12px;
}
